{% extends "neversets/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Sun Never Sets on Us{% endblock %}

{% block content %}
<div class="centerForm">
    <h1>Password Reset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Forgotten your password? Enter your e-mail address below, and I'll send you an e-mail allowing you to reset it.</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="primaryAction" value="{% trans 'Reset My Password' %}" />
    </form>
</div>
{% endblock %}
